body{
    background-color: #230650;
    overflow-x: hidden;
}

.container{
    height: 100%; 
    width: 100%;
    display: flex; /* Définit le conteneur en tant que conteneur flex */
    flex-direction: column;
    margin: auto;
    padding-top: 150px;
    overflow-x: hidden;
}

.header{
    flex:0.5; /* Prend une part proportionnelle de l'espace disponible */
    margin: auto;
    padding: 20px 20px;
}

.container_country{
    flex:3;/* Prend une part proportionnelle de l'espace disponible (3 fois plus que .header) */
}